/*Typcal device Breakpoints
-----------------------------

pequenas telas: ate 600px
---------------------------

celular: de 600px ate 768px
----------------------------

tablet: de  768px ate 992px
----------------------------

pc: de 992px ate 1200px 
----------------------------

tv: acima de 1200
----------------------------
*/

/*
Esses daqui sao para celular e telas pequenas, eu só não vou deixar sem comentario porque se eu ja fiz o site para celular eu nao preciso por essas configurações.
@media screen and (max-width:600px) {
    
}

@media screen and (min-width:600px) and (max-width:768px){
    
}
*/

/*Para tablet*/
@media screen and (min-width:768px) and (max-width: 992px){
    
}

/*Para pc*/
@media screen and (min-width:992px) and (max-width: 1200px) {
    
}


/*Para tv*/
@media screen and (min-width: 1200px) {
    
}