body{
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.al{
    color: white;
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
}

.js{
    color: white;
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
}
.c{
    color: white;
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
}