@charset "UTF 8";

/*Estilos para impressora*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

body{
    background-color: rgba(4, 4, 174, 0.48);
}